/* helping adds*/

.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.cfix:after{content: '';display: block;height: 0;font-size: 1px;line-height: 1px;overflow: hidden;clear: both;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.jfix-after:after{content: '';display: inline-block;width: 100%;height: 0;overflow: hidden;}
.vfix{height:100%;width:0px;display:inline-block;vertical-align:middle;}
.vfix-before:before{content: '';height: 100%;width: 0;display: inline-block;vertical-align: middle;}

.hidden-block{position:absolute;left:-99999em;top:-99999em;}

/* /helping adds*/

/* ctext */

    .ctext{
        h1, h2, h3, h4, h5, h6{line-height: 1.25;margin-bottom: 15px;font-weight: 700;}
        h1{font-size: 36px;}
        h2{font-size: 32px;}
        h3{font-size: 28px;}
        h4{font-size: 24px;}
        h5{font-size: 20px;}
        h6{font-size: 16px;}
        p{margin-bottom: 10px;font-size: 14px;}
    }

/* /ctext */

/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;}
body{min-height:100%;width:100%;min-width:320px;font-family:ProximaNova, sans-serif;background:#fff;color:#3d3d3d;position:relative;font-size: 16px;line-height: 1; overflow-x: hidden;

    /* styles for wp-admin panel */

    &.customize-support{
        .wp-panel-show{top:32px;} //fixed elements (if their has top:0) must has class .wp-panel-show
    }

    /* /styles for wp-admin panel */

}
img{vertical-align:bottom;border:0;max-width:100%;}

/* adapted styles for wp-admin panel */

@media screen and (max-width: 782px){

    body{
        &.customize-support{
            .wp-panel-show{top:46px;}
        }
    }

    #wpadminbar{position: fixed!important;}

}
/* /adapted styles for wp-admin panel */

/* /base styles */

/* wraps styling*/

.mbox{max-width:1170px;width:100%;margin:0 auto;position:relative;z-index:1; padding: 0 15px;}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

/* /wraps styling*/


.footer_placeholder{height: 200px;}
.footer{position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;}

input, textarea{
    &::-webkit-input-placeholder {color:#ffffff;opacity: 0.7;}
    &:-moz-placeholder {color:#ffffff;opacity:0.7;}
    &::-moz-placeholder {color:#ffffff;opacity:0.7;}
    &:-ms-input-placeholder {color:#ffffff;opacity: 0.7;}
}

/*End Layout*/

/*fonts*/
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "../fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}

//  example -> @include font-face('PFDinTextPro', 'PFDinTextPro-Bold', 700, italic);

@include font-face('ProximaNova', 'ProximaNova-Black', 900);
@include font-face('ProximaNova', 'ProximaNova-Extrabold', 800);
@include font-face('ProximaNova', 'ProximaNova-Bold', 700);
@include font-face('ProximaNova', 'ProximaNova-Bold', 700, italic);
@include font-face('ProximaNova', 'ProximaNova-Semibold', 600);
@include font-face('ProximaNova', 'ProximaNova-SemiboldIt', 600, italic);
@include font-face('ProximaNova', 'ProximaNova-Regular', 400);
@include font-face('ProximaNova', 'ProximaNova-RegularIt', 400, italic);
@include font-face('ProximaNova', 'ProximaNova-Light', 300);
@include font-face('ProximaNova', 'ProximaNova-LightIt', 300, italic);
@include font-face('ProximaNovaCond', 'ProximaNovaCond-Bold', 700);

h1{font-size: 75px;}
h2{font-size: 75px;}
h3{font-size: 60px;}
h4{font-size: 20px;}


/*/fonts*/
//* {border: 1px solid red;}


.start { animation-name: move-coll; animation-duration: 1.5s; animation-iteration-count: 1; animation-timing-function: ease; animation-fill-mode: forwards; animation-delay: 1s;}
.animate-chapter {animation-name: move-left; animation-duration: 0.5s; animation-iteration-count: 1; animation-timing-function: linear; animation-fill-mode: forwards;}


.error-placement{ position: absolute; width: 100%; top: 0; left: 0;  cursor: pointer; z-index: 99999;
    svg{ width: 15px; height: 15px;}
    .js-notvalid,
    .js-valid{ display: none; position: absolute; right: 9px; top: 11px;}
}
.error-placement-text{ position: absolute; width: 100%; right: 0; top:44px; background: #ff3030; z-index: 999; color: #fff; font-weight: 300; font-size: 13px; padding: 7px 10px;box-shadow: 0px 2px 16px 0px rgba(255, 48, 48, 0.57); display: none; min-width: 100px;
    &:before{ right: 10px; top: -12px; content: ''; border-style: solid; border-color:transparent transparent #ff3030 transparent; border-width: 6px; position: absolute; width: 0; height: 0; }
}
.js-input{ position: relative;}
.valid{
    .js-valid{ display: block;}
    .styled input[type=checkbox] + i{border-color: #3ed12f;}
    &.login__input input{border-color: #3ed12f;}
}
.error{
    .error-placement:hover .error-placement-text{ display: block;}
    .js-notvalid{ display: block;}
    .styled input[type=checkbox] + i{border-color: #ff3030;}
    &.login__input input{border-color: #ff3030;}
}

.main-header {
    .btn {margin-left: 20px;}
}

.green-zone {width: 100%; height: auto; background-repeat: no-repeat; z-index: 20;
    &>img { position: absolute; z-index: 50; clip-path: inset(0px 1920px 0px -470px); width: 100%; object-fit: cover;}
    &__content {position: relative; top:0;
        &>img {position: relative; z-index: -1;}
    }
    &__header { display: flex; justify-content: space-between; align-items: center; width: 100%; position: absolute;  top: 0;}
    &__header-left {display: flex; justify-content: flex-end;  align-items: center; width: 100%; padding: 0px 0px 65px 0px;}
    &__logo { z-index: 50; padding-top: 24px;  position: absolute; left:0; padding-left: 30px;
        img { min-width:221px;}
    }
    &__header-right {width: 24.75%; display: flex; justify-content: center;}
    &__menu {  opacity: 0; border-bottom: 3px solid rgba(255, 255, 255, 0.08); border-left: 3px solid rgba(255, 255, 255, 0.08); border-bottom-left-radius: 10px; width: 80.8%; justify-content: space-between; display: flex; align-items: center; padding-top: 21px; margin-left: 267px;

        ul {list-style-type: none;  padding: 0; margin: 0; display: flex; width: calc(100% - 29% - 24.75%); justify-content: space-around; padding-left: 15px; padding-right: 15px;
            li:first-child>a{ }
            li:last-child>a {}
            a {text-decoration: none; color: #ffffff;  padding: 50px 0px 24px 0px ; font-weight: 300; font-size: 18px; letter-spacing: 3px;}
            a:active {color: white;}
            a:nth-child(2):hover {
                .green-zone__hoverer {left: 75px;}
            }

        }
    }
    &__buttons {display: flex; margin-top: 70px;



        input {background: transparent;border: 1px solid #ffffff; width: 210px; height: 44px; border-radius: 5px; font-size: 18px; font-weight: 400; text-transform: uppercase; z-index:1;}
        input:hover {border: 1px solid transparent; color: #013021; background-color: #fff424;

        }
    }
    a.green-zone__registration {background-color: #fff424; color: #000000; border: 1px solid #fff424;
        &:after {content: ''; width: 106%; height: 124%; background-color: rgba(255, 255, 255, 0.15); display: block; position: absolute; top: -6px; left: -7px; z-index: -1; border-radius: 8px;}
    }
    a.green-zone__registration:hover {background-color: #f6f185; }

    a.green-zone__details {
        &:after {left: -5px;}
    }
    &__button {transition: all 0.2s;}
    &__button-detais {margin-bottom: 10px;}
    &__cross { flex-direction: column; height: 18px; justify-content: space-between; display: none; cursor: pointer; z-index: 100;
        svg {width: 20px; height: 2px; transition: transform 0.2s;}
    }
    &__split {width: 26%; height: 2px;}

    &__hoverer {width: 85px; height: 16px; background-color: rgba(255,255,255,0.08); border-radius: 8px; top: 81px; left: 70%; position: absolute; display: none;}
    &__hoverer-inn { width:75px; height: 6px; background-color: #fff424; position: absolute; top: 5px; left: 5px; border-radius: 2px;}
    &__phone { display: flex; align-items: center; color: #ffffff;  font-size: 19px; font-weight: 300; padding: 18px 0px 24px 0px; z-index: 50; opacity: 0; white-space: nowrap;
        a {text-decoration: none; color: #ffffff; display: flex; align-items: center;}
        img {margin-right: 20px; z-index: 50;}
        span {z-index: 50;}
        span:first-child {margin-right: -5px; padding-top: 4px;}
        span:last-child {font-weight: 700; font-size: 22px; z-index: 50;}

    }
    &__chapter { color: #ffffff; text-align: right;  opacity: 0; position: absolute; top: 0; width: 50%; height: 85%; display: flex; align-items: flex-end; justify-content: center; flex-direction: column; z-index: 1; margin-top: 90px; padding: 0 15px;
        h1 { margin-top: 0; margin-bottom: 8%;}
        p {font-weight: 300; font-size: 35px; line-height: 41px; margin-bottom: 0; margin-top: 0;}
    }
}

.green-zone__cross.active {
    svg:first-child { transform: translateY(10px) rotateZ(45deg);}
    svg:nth-child(2) {display: none;}
    svg:last-child {transform: rotateZ(-45deg) translateY(-5px) translateX(4px);}
}


.transparent-btn{
    display: inline-block;
    text-align: center;
    font-size: 18px;
    background: transparent;
    color: #ffffff;
    border-radius: 5px;
    padding: 22px 46px;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    position: relative;
    transition: all linear .3s;

    &:hover{
        border-color: #fff;
        background: #ffffff;
        color: #000000;
        transition: all linear .3s;
    }
}



.quests-zone {padding-top: 100px; padding-bottom: 100px; margin-bottom: 20px;
    &__buttons {z-index: 100;}
    &__header {display: flex; justify-content: center;  margin-bottom: 56px; white-space: nowrap; padding: 0 15px;
        h2 { color: #013021;}
        span:nth-child(2) {border: 10px solid rgba(1, 48, 33, 0.05); border-radius: 8px; padding: 28px 40px;}
        span:nth-child(1) {margin: 0;}
        span:nth-child(3) {margin: 0;}
    }
    &__chose { display: flex; justify-content: space-between; align-items: center;}


    &__radios { font-size: 20px; color: #000000; flex-direction: column; padding-right: 15px;
        label {display: flex; align-items: center; justify-content: flex-start; position: relative; width: 165px;
            span {text-transform: uppercase;  font-style: normal;}
            input {opacity: 0;}

            i {width: 165px; height: 165px; border-color: #0d8265;  position: relative; display: flex; align-items: center; justify-content: center;  transition: all 0.1s;
                &:hover {background-color: #f7f7f7;}

            }
            input:checked + i{ background-color: #0d8265; opacity: 1; border-color: #e8e8e8;
            }
            input:checked ~ i span {color: #ffffff; z-index: 10;}
            i {width: 165px; height: 165px; border-color: #e8e8e8; position: relative;  display: flex; align-items: center; justify-content: center;


            }

            &:first-child i { border-top-left-radius: 5px; border-top-right-radius: 5px; border: 1px solid #e8e8e8; border-bottom: none; cursor: pointer;
                &:hover {border-color: #e8e8e8;}
            }
            &:last-child i { border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border: 1px solid #e8e8e8; border-top: none; cursor: pointer;
                &:hover {border-color: #e8e8e8;}
            }
        }
    }
    &__right {    width: 82%; height: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;
        img {border-radius: 5px;}
    }

    &__curse {border: 1px solid #e8e8e8; border-bottom: none; border-top-right-radius: 5px; border-top-left-radius: 5px; }
    &__event {border: 1px solid #e8e8e8; border-top: none; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
    &__square {height: 165px; width: 165px;}

    &__right-square {padding: 41px 41px 40px 54px; display: flex; flex-direction: column; justify-content: space-between;
        span {color: #ffffff; font-size: 30px; font-weight: 700;  z-index: 1;}
    }

    &__right-top { width: 100%; margin-bottom: 30px; border-radius: 5px; position: relative; background-color: #003223;
        &>span {margin-bottom: 98px;}
        span {text-shadow: 0px 0px 64.86px rgba(0, 0, 0, 0.3); letter-spacing: 4px; line-height: 35px; }
        img {position: absolute; top: 0; left: 0; z-index: 1; opacity: 0.85;  transition: all 0.2s; width: 100%; height: 100%; object-fit: cover;}
    }
    &__right-top:hover {
        &:after {content: ''; width: 40%; height: 65%; position: absolute; border-top: 1px solid rgba(255,255,255,0.2); right: 0; bottom: 0;border-left: 1px solid rgba(255,255,255,0.2); border-top-left-radius: 10px; }
        img {opacity: 0.15; }
    }
    &__right-bot {width: 100%; border-radius: 5px; position: relative; background-color: #003223;
        &>span {margin-bottom: 98px;}
        span {text-shadow: 0px 0px 64.86px rgba(0, 0, 0, 0.3); letter-spacing: 4px; line-height: 35px;}
        img {position: absolute; top: 0; left: 0; z-index: 1; opacity: 0.85;  transition: all 0.2s; width: 100%; height: 100%; object-fit: cover;}
    }
    &__right-bot:hover {
        img {opacity: 0.15; }
        &:after {content: ''; width: 40%; height: 65%; position: absolute; border-top: 1px solid rgba(255,255,255,0.2); right: 0; bottom: 0;border-left: 1px solid rgba(255,255,255,0.2); border-top-left-radius: 10px; }
        img {opacity: 0.15; }
    }
    &__about { z-index: 1; display: flex; justify-content: space-between; flex-wrap: wrap;
        span {font-size: 16px; font-weight: 300; text-shadow: 0px 0px 64.86px rgba(0, 0, 0, 0.3); line-height: 25px; letter-spacing: 0.2px; padding-right: 15px; width: 70%; letter-spacing: 1.2px;}
        .transparent-btn { padding: 15px 75px; background-color: #ffffff; color: #000000; position: relative;
            &:hover {background-color: #ffd712; border-color: #ffd712;
                &:after {content: '';
                    transition: all linear .3s;
                    position: absolute;
                    top: -5px;
                    left: -5px;
                    right: -5px;
                    bottom: -5px;
                    background: rgba(255, 255, 255, .1);
                    border-radius: 8px;}
            }
        }
    }
    &__registration {text-decoration: none;}
}


.about {background-color: #f7f7f7;
    &__header { display: flex; justify-content: center; padding-top: 67px; margin-bottom: 26px;
        h2 { color: #013021;}
    }
    &__part {width: 50%;}
    &__content {display: flex; justify-content: flex-start;

    }
    &__left { position: relative;
        &:after {background-image: url("../images/hands.jpg"); content: ''; display: block; background-repeat: no-repeat; width: 900px; height: 100%; position: absolute; overflow: visible; background-position: 0; bottom: 0; right: 52px; z-index: 0; background-size: cover;}
    }
    &__right {color: #363636; font-size: 19px; padding-left: 22px; padding-bottom: 47px; letter-spacing: 1.1px;
        p {margin: 0; margin-bottom: 11px;}
        span {font-size: 18px; line-height: 23px;}
        div {margin-bottom: 76px;}
    }
    &__watch {text-transform: uppercase; font-weight: 700; letter-spacing: 2px;}
}

.cources { padding-top: 67px; padding-bottom: 86px;
    &__header { display: flex; justify-content: center; margin-bottom: 48px;
        h2 {color: #013021}
    }
    &__colls {display: flex; justify-content: center; align-items: stretch; }
    &__col {width: 25%; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; text-align: center; padding: 0 25px; cursor: pointer;
        span {color: #00674d; font-size: 22px; font-weight: 700; margin-bottom: 4px;}
        p {font-size: 15px; line-height: 22px; letter-spacing: 0.7px;}
    }
    &__col:hover img{animation-name: image-animate; animation-duration: 2s; animation-iteration-count: infinite; animation-timing-function: linear;}
    &__img {height: 85px; margin-bottom: 71px;}
    &__img {
        height: 85px;
        margin-bottom: 71px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .slick-next { min-width: 20px; min-height: 20px;  border-left: 3px solid grey; border-bottom: 3px solid grey; transform: rotateZ(-135deg); top: 43%; z-index: 10; right: -10;
        &:before {content: '';}
    }
    .slick-next:hover {border-left: 3px solid #0d8265; border-bottom: 3px solid #0d8265;}
    .slick-prev {min-width: 20px; min-height: 20px;  border-left: 3px solid grey; border-bottom: 3px solid grey; transform: rotateZ(45deg); top: 43%; z-index: 10; left: -10;}
    .slick-prev:hover {border-left: 3px solid #0d8265; border-bottom: 3px solid #0d8265;}
}

@keyframes image-animate {
    0% {transform: scale(1);}
    25% {transform: scale(0.9);}
    50% {transform: scale(1);}
    75% {transform: scale(0.9);}
    100% {transform: scale(1);}
}

.friends {background-color: #f5f5f5; padding-top: 67px; padding-bottom: 79px;
    &__header { display: flex; justify-content: center; margin-bottom: 24px;
        h2 {color: #013021; text-align: center;}
    }
    &__slide {
        div {display: flex; justify-content: center;}
        img { transition: all 0.2s;}
        a {height: 130px; display: flex; align-items: center;
            span { position: relative;}
            img:last-child {opacity: 0; position: absolute; left: 0; top: 0;}
        }
        a:hover {
            img:first-child { opacity: 0;}
            img:last-child { opacity: 1;}
        }
    }
    .slick-next { min-width: 20px; min-height: 20px;  border-left: 3px solid grey; border-bottom: 3px solid grey; transform: rotateZ(-135deg); top: 43%; z-index: 10; right: -10;
        &:before {content: '';}
    }
    .slick-next:hover {border-left: 3px solid #0d8265; border-bottom: 3px solid #0d8265;}
    .slick-prev {min-width: 20px; min-height: 20px;  border-left: 3px solid grey; border-bottom: 3px solid grey; transform: rotateZ(45deg); top: 43%; z-index: 10; left: -10;}
    .slick-prev:hover {border-left: 3px solid #0d8265; border-bottom: 3px solid #0d8265;}

}


.contacts__right-content.course-list-cotacts {
    margin-top: 120px;
    .contacts__right-button {
        margin-top: 50px;
    }
}

.slick-next { right: 15px;}
.slick-prev { left: 15px;}

.js-ivents.show-ivent {display: block;}
.js-cource.show-ivent {display: block;}
.js-ivents {display: none;}
.js-cource {display: none;}


.contacts { overflow: hidden;

    &__right-button .btn{padding: 22px 65px;}
    &__content {display: flex;}
    &__left { width: 50%;
        h3 {color: #013021;}
    }
    &__right { background-color: #0d8164; width: 50%; position: relative;
        &:after {content: ''; height: 100%; width: 100%; top: 0; left: 95%; background-color: #248c72; display: block; position: absolute; z-index: -1;}
        &:before {content: ''; height: 100%; width: 100%; top: 0; background-color: #248c72; position: absolute; z-index: -1; display: none; right: 100%;}
        h3 {color: #ffffff;}
    }
    &__row {margin-bottom: 70px; display: table;
    }
    &__content-row  { display: flex; align-items: center;
        p {letter-spacing: 1px;}
        span:first-child {font-size: 19px; font-weight: 300; align-self: flex-end; padding-bottom: 12px;}
        svg {fill: #0d8265; width: 60%; height: 60%;}
        &:hover {
            svg {fill: #ffffff; width: 50%; height: 50%;}
            .contacts__row-img-container {background-color: #0d8265;  border-radius: 8px; border: 4px solid #dbece8;
                //&:after {content: ''; display: block; position: absolute; width: 118%; height: 118%; background-color: rgba(0,50,35,0.15);top: -5px; left: -5px; border-radius: 8px;}
            }
        }
    }


    &__row-img {width: 80px; display: flex; justify-content: flex-start;}
    &__phone {

        a {text-decoration: none; color: #000000;
            span:last-child {font-size: 22px; font-weight: 700; margin-left: 10px;}
        }
        a:hover {text-decoration: none;}
    }
    &__mail { position: relative;
        a{text-decoration: none;font-size: 18px; color: #0d8265; font-weight: 700;}
        a:hover {text-decoration: underline;}
        //a:hover:before {content: ''; width: 68px; height: 68px; background-color: rgba(0, 50, 35, 0.15); display: block; position: absolute; border-radius: 5px; top: -5px; left: -5px; }
    }

    &__right {padding-left: 60px; background-image: url("../images/keys.png"); background-repeat: no-repeat; background-position: center; background-size: cover;}
    &__right-content { padding-bottom: 80px;
        form {display: flex; flex-direction: column;
            input {color: #ffffff; background-color: transparent; border: none; border-bottom: 1px solid #ffffff; font-weight: 100; font-style: italic; font-size: 16px; padding: 5px 15px; margin-bottom: 20px; letter-spacing: 0.7px; width: 100%;}
            textarea {background-color: transparent; border: none; border-bottom: 1px solid #ffffff; resize: none; font-style: italic; padding: 5px 15px; color: #ffffff; margin-bottom: 25px; letter-spacing: 0.7px; font-weight: 100;}
        }
    }


    &__row-img-container {width: 58px; height: 58px; display: flex; justify-content: center; align-items: center;  transition: all 0.2s;
    }

}

.contacts__for-course .btn {padding: 18px 35px;}
.footer {background-color: #363636; color: #ffffff;
    &__head {border-bottom: 1px solid #ffffff; font-size: 14px; font-weight: 700;}
    &__coll {width: 20%; padding-right: 10px;
        a {color: #ffffff; text-decoration: none; font-size: 14px; margin-top: 10px; display: inline-block;}
        a:hover {color: #00ce9b; }
    }
    &__pod {padding-bottom: 40px;
    }
    &__coll-head {font-size: 12px; font-weight: 300; width: 25%;  padding-right: 20px;
        p {margin: 5px;}
    }
    &__head-content {display: flex; justify-content: flex-start; align-items: center; padding: 10px 10px; letter-spacing: 0.8px;}
    &__coll-last { display: flex; align-items: flex-start;
        a {
            svg {fill: rgb(255, 255, 255);}
        }
        a:first-child {padding-top: 5px;

        }
        a:hover {
            svg {fill: rgb(0, 206, 155);}
        }
    }
    &__pod-content {display: flex; padding: 20px 10px; letter-spacing: 1px;}


    &__mobile {display: none;}
    &__mobile-head {display: flex; justify-content: space-between; border-bottom: 1px solid #ffffff; padding: 15px 23px 15px 15px; }
    .mbox {padding: 0;}
    &__mobile-right { align-items: center; justify-content: center;
        a:first-child {padding: 0;}
    }
    &__mobile-bot {display: flex; padding: 10px 15px 25px 15px; letter-spacing: 1px;}
    &__mobile-bot-col {display: flex; flex-direction: column; width: 50%; padding: 0 15px 0 0;
        p {font-weight: 700;}
        a {color: #ffffff; text-decoration: none; font-size: 14px; margin-bottom: 10px; display: inline-block;}
        a:hover {color: rgb(0, 206, 155);}
    }
    &__mobile-copy { display: flex; align-items: center; justify-content: center; font-size: 10px; padding-bottom: 25px;}
}


.white-string {
    &__sections {display: flex; justify-content: center; align-items: flex-start; padding-top: 35px; flex-wrap: wrap;}
    &__section { position: relative; padding-top: 74px; padding-bottom: 20px; margin: 0px 100px; width: 120px;
        p { font-size: 18px; white-space: nowrap; }
    }
    &__under {font-size: 15px; white-space: nowrap; color: #00674d; font-weight: 700;}
    &__title {font-size: 22px; font-weight: 700; color: #00674d;}
    &__number {position: absolute; top: 0; left: -78px; font-size: 168px; color: #363636; opacity: 0.05; z-index: -1; font-weight: 100;}
    .slick-next { min-width: 20px; min-height: 20px;  border-left: 3px solid grey; border-bottom: 3px solid grey; transform: rotateZ(-135deg); top: 43%; z-index: 10; right: -10;
        &:before {content: '';}
    }
    .slick-next:hover {border-left: 3px solid #0d8265; border-bottom: 3px solid #0d8265;}
    .slick-prev {min-width: 20px; min-height: 20px;  border-left: 3px solid grey; border-bottom: 3px solid grey; transform: rotateZ(45deg); top: 43%; z-index: 10; left: -10;}
    .slick-prev:hover {border-left: 3px solid #0d8265; border-bottom: 3px solid #0d8265;}
}

.courses-page {
    .green-zone {
        &__chapter {
            p { display: flex; align-items: center;
                img {margin-right: 15px;}
            }
        }
        &__buttons .btn{margin-left: 20px;}
    }



    h2 {text-align: center; color: #013021;}
    &__top { display: flex;}
    &__bot {display: flex;

    }
    &__image {width: 50%; position: relative;
        img {position: absolute; min-width: 900px; right: 0; top: 0; padding-right: 60px; }
    }
    &__image-bot {
        img {left: 50px; right: auto;}
    }
    &__text {width: 50%; padding: 0 15px 50px 15px;
        p {font-size: 18px;}
        ul{ list-style-type: none; padding-left: 0;
            li { display: flex; align-items: center; padding: 15px 0; line-height: 20px;
                &:before {width: 6px; height: 6px; background-color: #0d8265; border-radius: 50%; display: block; margin-right: 30px; padding: 3px; content: ''; left: 0; top:50%;transform: translateY(-50%);}
            }
        }
    }
    h4 {margin-top: 0; }
    &__specialist {padding-bottom: 95px;}
    &__after-end {font-weight: 700; font-size: 18px;}
    &__specialist-bot {padding-bottom: 10px;}
    &__hugger {background-color: #f7f7f7; padding: 15px 0 0px 0; overflow: hidden;}
}

.mentors {padding: 0 0 70px 0;
    &__people {display: flex; justify-content: space-between;}
    &__about {padding: 20px;  padding-left: 35px; width: 100%;
        p { margin-top: -5px;}
    }
    &__content {
        h2 {text-align: center;}
    }
    &__person {border: 1px solid #ebebeb; display: flex; width: 48%; border-radius: 5px;

        p {font-size: 13px;}
        a {color: #0d8265; font-weight: 700;
            &:hover {text-decoration: none;}
        }
        h4 {font-weight: 400; font-size: 30px; margin-bottom: 10px;}
        ul {list-style-type: none; padding: 0; margin: 0;
            li { line-height: 20px; font-size: 15px; padding: 4px 0 0 30px; position: relative;
                &:before {content:''; display: block; width: 6px; height: 6px; background-color: #0d8265; border-radius: 50%; padding: 3px; position: absolute; top: 50%; left: 0;
                    transform: translateY(-50%);}
            }
        }
    }
    &__img {min-width: 175px;
        img {min-width: 100%; border-bottom-left-radius: 5px; border-top-left-radius: 5px;}
    }
    &__socials { display: flex; justify-content: space-between; align-items: flex-start; flex-wrap: wrap;}
    &__icons { display: flex;}
    &__icons-place {padding: 5px;}
    &__icons-place a svg{fill: #a6a6a6;}
    &__icons-place a:hover svg{fill: #0d8265;}
}
.program { background-color: #f7f7f7;
    &__content {padding-top: 10px; padding-bottom: 50px;}
    h2 {color: #013021; text-align: center;}
    &__get-program { display: flex; justify-content: space-between; align-items: center;
        p {font-weight: 300; font-size: 18px; width: 60%; padding-right: 15px; line-height: 25px;
        }
        a { text-transform: uppercase; color: white; background-color: #0d8265; border: 4px solid #dfebe8; padding: 15px 30px; text-decoration: none; font-size: 18px; white-space: nowrap; border-radius: 8px; line-height: 18px; letter-spacing: 3px; display: flex; align-items: center; flex-grow: 0; transition: all 0.2s;
            &:hover {background-color: lighten(#0d8265, 5%);}
        }

    }
    ul {list-style-type: none; padding: 0;
        li {background-color: #ffffff; font-size: 18px; width: 100%; padding: 25px 25px; margin-top: 1px;
            &:first-child {border-top-left-radius: 5px; border-top-right-radius: 5px;}
            &:last-child {border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
        }

    }
}


.course-list {

    p {margin: 0;}
    &__box {padding: 15px 0;
        &--small {width: 49%;}
    }
    &__boxes { display: flex; justify-content: space-between; padding-bottom: 50px; padding-top: 15px;}

    &__box:first-child {padding-top: 75px;}
    .green-zone__chapter {
        p { display: flex; align-items: center;
            img {margin-right: 15px;}
        }
    }
    &__img {width: 100%; height: 290px; overflow: hidden; position: relative;
        a {transition: all 0.2s;}
        a:hover {opacity: 0.9;}
        img {object-fit: cover; width: 100%; height: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;}
        p {position: absolute; bottom: 25px; left: 25px; color: #ffffff; font-size: 18px; font-weight: 300; letter-spacing: 2px;}
    }
    &__text { display: flex; border: 1px solid #ebebeb; border-top: none; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
        &--small {flex-wrap: wrap;}
    }
    &__date {padding: 25px 12px 25px 25px;

        p {margin: 0;}
        p:nth-child(1) {font-weight: 700; font-size: 60px; color: #0d8265; line-height: 52px;}
        p:nth-child(2) {font-family: ProximaNovaCond, sans-serif; font-size: 22px; font-weight: 700; color: #4f4f4f;}
        p:nth-child(3) {font-size: 18px; color: 4f4f4f; letter-spacing: 12px; font-weight: 300;}
        &--small {padding: 25px 5px 5px 25px; display: flex;
            span {font-size: 56px; font-weight: 700; line-height: 41px; color: #acacac; margin-right: 10px;}
            span p:first-child {font-size: 19px; font-family: ProximaNovaCond, sans-serif; line-height: 16px; margin-bottom: 6px;}
            span p:last-child {font-size: 18px; color: #363636; letter-spacing: 9px; font-weight: 300; line-height: 14px; color: #acacac;}
        }
    }
    &__line { display: flex; justify-content: space-between;
        &:first-child {margin-bottom: 20px; padding: 0 10px;}
        p {font-size: 30px;}
        &--small { display: flex; margin-bottom: 15px;
            p {font-size: 24px;}
        }
    }
    &__line-col { padding: 0 10px;
        &:last-child {align-self: flex-end; display: flex;}
        a {margin: 5px;}
        a svg{fill: #a6a6a6;}
        a:hover svg {fill: #0d8265;}
        p {color: #0d8265; font-weight: 700; font-size: 18px; margin-bottom: 7px;}
        span { font-size: 16px; font-weight: 300; color: #363636;}
    }
    &__about {padding: 25px 25px 25px 25px; text-align: left; vertical-align: middle; width: 48%;
        p {font-size: 16px; line-height: 24px;}
        &--small {width: 100%; padding: 5px 25px 20px 25px;}
    }
    &__time {padding: 25px 12px;
        &--small {padding: 30px 12px 10px;}
    }
    .green-zone__buttons .btn{margin-left: 20px;}
}







