.green-zone__speaker {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.28px;
  font-family: ProximaNova, sans-serif;
  margin-top: 90px;
  &__name {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
  }
  &__data {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
  }
}
.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 120px;
  &__link-img {
    text-decoration: none;
    color: inherit;
  }
  &__advantages_min {
    width: 360px;
    display: flex;
    flex-direction: column;
    position: relative;
    &__img {  border-radius: 5px;  }
  }
  &__head-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 26px 25px 29px 25px;
    letter-spacing: 0.28px;
    line-height: 26px;
    font-family: ProximaNova, sans-serif;
    &__title {
      width: 100%;
      color: #353535;
      font-size: 21px;
      font-weight: 400;
      margin: 0 0 20px 0;
      a {
        text-decoration: none;
        color: inherit;
        //border-bottom: 1px solid transparent;
        transition: all 0.3s;
        &:hover {
          //border-bottom: 1px solid #353535;
          color: #0d8265;
        }
      }
    }
    &__box {
      display: flex;
      flex-direction: column;
    }
    &__name {
      width: 100%;
      color: #0d8265;
      font-size: 14px;
      line-height: 15px;
      text-decoration: none;
      font-weight: 700;
    }
    &__data {
      color: #353535;
      font-size: 13px;
      line-height: 15px;
      font-family: ProximaNova-Light, sans-serif;
    }
    &__social {
      z-index: 20;
      a {
        text-decoration: none;
        &:nth-child(1) { margin-right: 20px; }
      }
       svg {  fill: #a6a6a6; &:hover { fill: #00ce9b; } }
    }
  }
  &__desc-item {
    margin: 0;
    padding: 0 50px 0 25px;
    color: #363636;
    font-size: 14px;
    line-height: 22px;
    font-family: ProximaNova, sans-serif;
    font-weight: 300;
    letter-spacing: 0.32px;
  }
  &__desc-item-wrap {
    display: flex;
    justify-content: flex-start;
  }
  &__advantages_big {
    width: 100%;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    position: relative;
    &__img {  height: 290px;  overflow: hidden; border-radius: 5px; text-decoration: none;  color: inherit;  }
    .blog__head-item {  align-items: center;  }
    .blog__head-item__title {
      font-size: 30px;
      letter-spacing: 0.6px;
      width: 80%;
      margin: 0;
    }
    .blog__desc-item {
      width: 50%;
      font-size: 16px;
    }
    .blog__head-item__social {
      align-self: flex-end;
      margin-right: 55px;
    }
  }
  &__advantages_middle {
    width: 50%;
    max-width: 555px;
    margin-top: 60px;
    margin-bottom: 125px;
    position: relative;
    .blog__desc-item {
      font-size: 16px;
    }
    .blog__head-item {
      margin: 26px 40px 29px 30px;
    }
    img { border-radius: 5px; }
  }
}
.blog-post {
  font-family: ProximaNova, sans-serif;
  &__head {
    color: #353535;
    font-size: 30px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.6px;
    margin: 55px 0;
    &:nth-child(1) {
      margin-top: 90px;
    }
  }
  &__head-h4 {
    color: #363636;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin: 35px 0;
  }
  &__text {
    margin: 16px 0;
    color: #363636;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.36px;
    line-height: 24px;
  }
  &__section1_img {
    //position: relative;
    &_in {
      //position: absolute;
      //top: 0;
      //right: -380px;
      float: right;
      margin-right: -380px;
      margin-left: 50px;
      margin-bottom: 50px;
    }
  }
  &__section1_top {
    width: 500px;
  }
  &__section1_bottom {
    width: 500px;
    margin-top: 65px;
  }
  &__ul {
    margin: 0;
    padding: 0;
    position: relative;
    width: 750px;
    li {
      list-style-type: none;
      &:before {  color: #0d8265;  content: "•";  padding-right: 24px;  }
    }
  }
  &__target {
    padding-top: 15px;
    &__item {
      position: relative;
      margin: 0 auto;
      width: 330px;
      font-size: 30px;
      color: #363636;
      line-height: 44px;
      text-align: center;
      padding: 25px 0 35px 0;
      &__bg {
        position: absolute;
        z-index: -1;
        display: block;
        font-size: 300px;
        font-weight: 300;
        line-height: 0.85em;
        color: #e2e2e2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      p { margin: 0; }
      b {  text-transform: uppercase;  }
    }
  }
  .slick-target {
    margin: 0;
    &__box {  margin: 0 auto; }
  }
  &__color_green {  color: #066748;  }
  &__section2-wrap {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    .blog-post__section2_text {
      width: 49%;
    }
  }
  &__section3-wrap {
    margin-top: 60px;
    display: flex;
    justify-content: flex-start;
    .blog-post__ul {  position: static; width: initial;  }
    .blog-post__head-h4 {
      text-transform: uppercase;
      margin: 50px 30px 30px 0;
    }
  }
  &__section3_text {
    width: 50%;
    margin-left: 5%;
  }
  &__section3_img {
    position: relative;
    width: 45%;
    &_in {
      position: absolute;
      top: 16px;
      left: -385px;
    }
  }
}
.blog-post-bottom {
  &__consultation {
    min-height: 604px;
    margin-top: 70px;
    display: flex;
    align-items: flex-end;
    position: relative;
    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &_text {
      max-width: 1170px;
      margin: 0 auto;
      padding: 0 80px 42px 15px;
      font-size: 30px;
      font-weight: 300;
      line-height: 44px;
      color: #ffffff;
      letter-spacing: 0.6px;
    }
  }
}


.blog-head-h1 {  width: 60%;  }
.contacts__right-button-blog {  margin-top: 80px;  }

.modal {
  &__registration {
    padding: 0;
    min-height: 650px;
    h4 {
      font-size: 50px;
      color: #013021;
      margin: 0;
      padding: 49px 0 42px;
      text-align: center;
      border-bottom: 1px solid #ebebeb;
    }
    p {
      max-width: 320px;
      margin: 70px auto 75px;
      text-align: center;
      font-weight: 300;
      font-size: 18px;
      color: #353535;
      line-height: 24px;
    }
  }
  &__content--reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 12%;
  }
  &__inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1140px;
    input[type="text"] {  width: 46.5%;  margin-bottom: 50px;  }
    input {
      background: transparent;
      border: none;
      border-bottom: 1px solid #000;
      padding: 0 10px 5px;
      margin-bottom: 50px;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      font-style: italic;
      width: 46.5%;
      &::placeholder {  color: #000000;  }
    }
    .btn {
      flex-basis: 100%;
      max-width: 300px;
      align-self: center;
      margin: 35px auto 0;
    }
  }
}

.slider-left {
  position: absolute;  margin-left: 0;  left: 0;  top: 50%;  transform: translateY(-50%);  z-index: 1; cursor: pointer;
  svg {  opacity: 1;  }
}
.slider-right {
  position: absolute;  top: 50%;  transform: translateY(-50%);  right: 0; cursor: pointer;
  svg {  opacity: 1;  }
}
@media screen and (max-width: 1600px){
  .blog-head-h1 {  width: 100%;  }
  .blog-post {
    &__section1_img_in {
      img {  width: 100%;  height: auto;  }
    }
    &__section3_img_in {
      img {  width: 100%;  height: auto;  }
    }
  }
}
@media screen and (max-width: 1366px){
  .blog-page {
    .green-zone__buttons {  margin-top: 35px;  }
  }
  .blog-post-page {
    .green-zone__speaker {  margin-top: 40px;  }
  }
}
@media screen and (max-width: 1150px){
  .blog {
    justify-content: space-around;
    &__advantages_min {
      width: 270px;
      &__img {  width: 100%;  height: auto;  }
    }
    &__advantages_big__img {
      img {  width: 100%;  height: auto;  }
    }
    &__advantages_middle__img {  width: 100%;  height: auto;  }
    &__advantages_middle {  padding: 0 15px;  }
  }
  .blog-post {
    //&__section1_img_in {  position: static;  }
    &__section1_img {
      width: 100%;
      &_in {
        float: none;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
      }
    }
    &__section1_top {  width: 100%;  }
    &__section1_bottom {  width: 100%;  }
    &__ul {  width: 100%;  }
    &__target__item {
      //width: 270px;
      //font-size: 24px;
      //padding: 0;
    }
    &__section2-wrap { flex-wrap: wrap;
      .blog-post__section2_text {  width: 100%;  }
    }
    &__section3-wrap {  flex-wrap: wrap;  }
    &__section3_text {
      width: 100%;
      margin-left: 0;
    }
    &__section3_img {  width: 100%;  }
    &__section3_img_in {  position: static;  }
  }
}
@media screen and (max-width: 900px){
  .blog {
    margin-top: 60px;
    &__advantages_min {
      width: 51%;  padding: 15px 4%;
      &__img {  width: 360px;  height: auto;  }
    }
    &__advantages_middle {  width: 100%;  margin-bottom: 50px;  }
  }
  .blog-post {
    &__head {
      margin: 35px 0;
      font-size: 26px;
      &:nth-child(1) {  margin-top: 65px;  }
    }
    &__target {
      padding: 0;
      &__item {  margin: 0 auto;  }
    }
    &__section1_bottom {  margin-top: 35px;  }
    &__section2-wrap {  margin-top: 0;  }
    &__section3-wrap {
      margin-top: 35px;
      .blog-post__head-h4 {  margin: 35px 0;  }
    }
  }
  .modal {
    &__registration {
      h4 {  font-size: 40px;  }
    }
  }
}
@media screen and (max-width: 680px){
  .blog {
    &__head-item {  margin: 26px 10px 29px 10px;  }
    &__desc-item {  padding: 0 15px;  }
    &__advantages_min {
      width: 360px;  padding: 15px 0;
      &__img {  width: 360px;  height: auto;  }
    }
    &__desc-item-wrap {  flex-direction: column;  }
    &__advantages_big {
      &__img {  height: auto;  }
      .blog__head-item__title {  width: 100%;  }
      .blog__desc-item {  width: 100%;  }
      .blog__head-item__social {  align-self: flex-end;  margin-right: 55px;  }
    }
    &__advantages_middle {
      margin-top: 60px;  margin-bottom: 0;
      .blog__head-item {  margin: 26px 10px 29px 10px;  }
    }
  }
  .blog-post {
    &__head {
      font-size: 24px;
      line-height: 1.5em;
      text-align: center;
      &:nth-child(1) {  margin-top: 35px;  }
    }
    &__head-h4 {  text-align: center;  }
    &__text {
      text-align: center;
      &:before {
        display: block;
        padding-right: 0;
      }
    }
    &__ul {
      li { &:before {  display: block;  padding-right: 0;  } }
    }
    &__target {
      &__item {
        width: 290px;
        font-size: 24px;
        line-height: 44px;
        padding: 25px 0 25px 0;
        &__bg {  font-size: 246px;  }
      }
    }
  }
  .blog-post-bottom {
    &__consultation {
      margin-top: 35px;
      //align-items: center;
      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &_text {
        padding: 0 15px 30px 15px;
        font-size: 24px;
        line-height: 1.25em;
        text-align: center;
      }
    }
  }
  .modal {
    &__registration {
      max-height: 100vmax;
      h4 {  font-size: 34px;  padding-bottom: 30px;  }
    }
    &__content--reg {
      margin: 0 10%;
      p {  margin: 35px auto;  }
    }
    &__inputs {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      input[type="text"] {  width: 100%;  margin-bottom: 35px;  }
      input {  margin-bottom: 35px;  width: 100%;  }
      .btn {  margin: 0 auto;  }
    }
  }
}
