.btn{
    display: inline-block;
    text-align: center;
    font-size: 18px;
    background: #fff424;
    color: #013021;
    border-radius: 5px;
    padding: 22px 46px;
    border: 1px solid transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    position: relative;
    transition: all linear .3s;
    &:hover{
        background: lighten(#fff424, 10%);
    }
    &:after{
        content: '';
        transition: all linear .3s;
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        background: rgba(255, 255, 255, .1);
        border-radius: 10px;
    }
    &__green{
        background: #0d8265;
        color: #ffffff;
        &:after{
            background: rgba(13, 130, 101, .1);
        }
        &:hover{
            background: lighten(#0d8265, 10%);
        }
    }
}

.modal{
    position: relative;
    &__content{padding: 61px 0 0;
        form{max-width: 457px; width: 100%; display: flex; align-items: center; flex-direction: column; margin: 0 auto;}
        p{max-width: 591px; margin: 0 auto 70px; text-align: center; font-weight: 300; font-size: 18px; color: #353535; line-height: 24px;}
        input[type="text"]{background: transparent; border: none; border-bottom: 1px solid #000; padding: 0 10px 5px; margin-bottom: 90px; color: #000000; font-size: 16px; font-weight: 300; font-style: italic; width: 100%;
            &::-webkit-input-placeholder {color: #000000; font-size: 16px; font-weight: 300; font-style: italic;}
            &:-moz-placeholder {color: #000000; font-size: 16px; font-weight: 300; font-style: italic;}
            &::-moz-placeholder {color: #000000; font-size: 16px; font-weight: 300; font-style: italic;}
            &:-ms-input-placeholder {color: #000000; font-size: 16px; font-weight: 300; font-style: italic;}
        }
        .btn{padding: 16px 40px;}
    }
    .fancybox-close-small{
        width: 26px;
        height: 26px;
        background: transparent;
        border: none;
        opacity: 1;
        position: absolute;
        top: 57px;
        right: 49px;
        &:hover{
            opacity: 0.3;
        }
        &:before, &:after {
            top: 0;
            content: '';
            position: absolute;
            left: 15px;
            content: ' ';
            height: 26px;
            width: 3px;
            background-color: #de0000;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
    &__program{padding: 0; max-width: 1140px; width: 100%; height: 568px;
        h4{font-size: 50px; color: #013021; margin: 0; padding: 49px 0 42px; text-align: center; border-bottom: 1px solid #ebebeb;}
    }
}
.event{
    &__row{display: flex; justify-content: space-between; align-items: flex-start;
        &:not(:last-child){margin-bottom: 130px;}
    }
    &-header{
        .white-string{margin-bottom: 57px;}
        .green-zone__chapter{margin-top: 102px; width: 51.5%; padding: 0 5px; padding-left: 90px;
            p{font-family: "ProximaNova", Arial, sans-serif; font-size: 30px;}
            h1{margin-bottom: 30px; font-size: 75px;}
        }
        .btn{margin-top: 70px;}
        .green-zone > img, .green-zone__content > img{height: 720px; width: 100%; object-fit: cover;}
        .event__date-line{margin-top: 60px; display: inline-block; font-size: 29px; letter-spacing: 2px;
            img{vertical-align: baseline; margin-right: 16px;}
        }
    }
    h2{text-align: center; margin: 0 -15px; font-size: 75px; color: #013021; margin: 1.45em 0 1.1em;}
    &-wrap{padding-bottom: 55px; display: flex; flex-wrap: wrap; justify-content: space-between; margin: 0 -15px;}
    &__block{width: 47%; margin: 0 15px; position: relative; border: 1px solid #ebebeb; border-radius: 5px; margin-bottom: 30px;
        &--big{width: 100%;
            .event__social-links{bottom: 17px; right: 30px;}
            .event__text{display: flex; align-items: center; padding: 19px 70px 3px 32px;}
            .event__img{height: 288px;}
            .event-date{width: 162px; flex-direction: row; margin-right: 40px; justify-content: space-between; float: none;
                &__date{line-height: 50px;}
            }
            .event__title{margin-right: 89px; margin-top: 15px; width: 260px; flex-shrink: 0; padding-right: 10px;}
            .event-date__date{margin-right: 17px;}
            p{margin-top: 12px;}
        }
    }
    &__img{height: 218px; background: #0d8667; border-radius: 5px 5px 0 0; overflow: hidden;
        img{object-fit: cover; height: 100%; width: 100%;}
    }
    &__social-links{z-index: 20; display: flex; position: absolute; bottom: 32px; right: 40px;
        a{
            &:not(:last-child){margin-right: 20px;}
            &:hover{
                svg{fill: #00ce9b;}
            }
        }
        svg{fill: #a6a6a6;}
    }
    &-date{display: flex; flex-direction: column; float: left; margin: 0 17px 0 0;
        &__date{font-size: 60px; color: #0d8265; font-weight: 700; line-height: 58px;}
        &__month{font-family: "ProximaNovaCond", Arial, sans-serif; text-transform: uppercase; font-size: 18px; letter-spacing: 2px; color: #4f4f4f; line-height: 23px;}
        &__year{font-size: 20px; color: #363636; letter-spacing: 10px;}
    }
    &__text{padding: 19px 70px 60px 32px;}
    &__title{font-size: 29px; color: #353535; margin-bottom: 22px; line-height: 34px;}
    p{margin-top: 0; font-size: 16px; line-height: 22px; color: #363636; margin-bottom: 26px;}
    &-program{background: #f7f7f7; padding-bottom: 108px;
        h2{margin: 0; padding: 110px 0 85px;}
        &__text{width: 58%; padding-top: 76px;
            p{font-weight: 300; font-size: 18px; color: #353535; line-height: 26px;}
        }
        &__title{font-size: 50px; font-weight: 300; line-height: 57px; margin-bottom: 98px; color: #1a1a1a; position: relative;
            b{display: block; text-transform: uppercase;}
        }
        &__photo{height: 249px;
            img{height: 100%; width: 100%; object-fit: cover;};
        }
        &__number{text-shadow: 0px 0px 109.44px rgba(74, 74, 74, 0.25); z-index: -1; color: #e6e6e6; line-height: 254px; font-size: 370px; font-weight: 100; position: absolute; left: -23px; top: 50%; transform: translateY(-50%);
            &:after{
                content: 'тема';
                text-shadow: 0px 0px 109.44px rgba(74, 74, 74, 0.25);
                font-size: 65px;
                color: #e6e6e6;
                transform: rotate(-90deg) translateY(-50%);
                position: absolute;
                right: -321px;
                letter-spacing: 34px;
                font-weight: 700;
                top: -10%;
            }
        }
    }
    &-card{border: 1px solid #e4e4e4; border-radius: 5px; width: 31.6%; flex-shrink: 0;
        .event__social-links{right: 49px; top: 52px; bottom: auto;}
        &__name{font-size: 30px; padding-right: 65px; color: #353535; line-height: 36px;}
        &__info{font-weight: 300; font-size: 14px; margin-bottom: 23px; color: #353535; line-height: 24px;
            a{color: #0d8265;}
        }
        p{font-size: 15px; margin: 0; line-height: 20px;
            &:not(:last-child){margin-bottom: 3px;}
        }
        &__text{padding: 44px 34px 48px 49px; position: relative;
            ul{font-size: 15px; list-style-type: none; color: #363636; padding-left: 16px; margin: 0;
                li{position: relative; line-height: 17px;
                    &:before{
                        content: '';
                        width: 5px;
                        height: 5px;
                        position: absolute;
                        left: -16px;
                        top: 50%;
                        transform: translateY(-50%);
                        background: #0d8265;
                        border-radius: 50%;
                    }
                    &:not(:last-child){margin-bottom: 8px;}
                }
            }
        }
    }
}
@media(max-width: 1050px){
    .event{
        &__block{width: 46%;
            &--big{width: 100%;
                .event__title{margin-right: 10px;}
            }
        }
    }
}
@media (min-width: 550px) and (max-width: 992px){
    .event{
        &__block{
            &--big{
                .event{
                    &-date{ float: left;  width: auto; margin-right: 17px; flex-direction: column;
                        &__date{margin-right: 0;}
                    }
                    &__text{display: block;}
                }
            }
        }
    }
}
@media(max-width: 992px){
    .modal{width: auto; margin-left: 15px; margin-right: 15px; height: auto;
        .fancybox-close-small{right: 20px; top: 20px;}
        &__content{padding-left: 15px; padding-right: 15px; padding-bottom: 40px;}
    }
    .event{
        &__social-links{bottom: 17px; right: 30px;}
        &__block{width: 100%;
            &--big{
                .event{
                    &__img{height: 218px;}
/*                     &-date{display: flex; float: left;  width: auto; margin-right: 17px; flex-direction: column;
                        &__date{margin-right: 0;}
                    } */
                    &__text{flex-direction: column; padding: 19px 70px 17px 32px;}
                    &__title{width: auto; margin-bottom: 22px; margin-top: 0;}
                }
            }
        }
    }
}
@media(max-width: 922px){
    .event{
        &__block{
            &--big{
                .event__title{padding-right: 0; margin-right: 0; text-align: center;}
                .event__text{padding: 24px 27px 35px;}
            }
        }
        &__text{padding: 24px 27px 35px;}
        &-header{
            .green-zone__chapter{width: 100%; margin-top: 70px; padding-left: 0;}
            .green-zone__content > img{height: 570px;}
            .event__date-line{margin-top: 10px;}
            .btn{margin-top: 20px;}
        }
    }
}
@media(max-width: 768px){
    .event{
        h2{font-size: 55px;}
        &-header{
            .green-zone__chapter{padding: 0 15px;
                h1{font-size: 55px;}
                p{font-size: 20px;}
            }
        }
    }
}
@media(max-width: 550px){
    .event{
        &-wrap{padding-top: 40px; margin: 0; padding-bottom: 0;}
        &__block{margin: 0;
            &--big{
                .event__img{height: 250px;}
                .event-date{margin-right: 0;}
            }
            &:not(:last-child){margin-bottom: 30px;}
        }
        &__img{height: 167px;}
        &__title{text-align: center;}
        h2{display: none;}
        &__text{display: flex; flex-direction: column; align-items: center; padding-left: 12px; padding-right: 12px;}
        &-date{order: 2; flex-direction: row; float: none; width: 162px; justify-content: space-between; margin-right: 0; margin-bottom: 16px;
            &__date{margin-right: 17px; line-height: 50px;}
        }
        &__social-links{position: static; justify-content: center; order: 2;}
    }
}
@media(max-width: 480px){
    .event{
        &-header{
            .event__date-line{letter-spacing: 0px; font-size: 19px; margin-top: 34px;
                img{display: none;}
            }
            .green-zone__chapter{padding: 0 38px; margin-top: 98px; justify-content: flex-start;
                h1{font-size: 41px; line-height: 48px; margin-bottom: 45px;}
                p{font-size: 18px; line-height: 25px;}
            }
            .green-zone__content{
                &> img{min-height: 483px; height: auto;}
            }
            .btn{margin-top: 52px; font-size: 14px; padding: 13px 5px; width: 100%; max-width: 300px;}
        }
        p{font-size: 14px; line-height: 17px; text-align: center;}
        &__block{
            &--big{
                .event__title{margin-bottom: 19px;}
            }
        }
    }
}