<div class="course-contacts">
    <div class="contacts">
        <div class="contacts__map js-map">
            <div class="contacts__map-header">
                <h3 id="scroll-me">Як Нас Знайти</h3>
                <div class="contacts__map--cross js-map-close"></div>
            </div>
            <img src="../images/map.jpg" alt="" class="contacts__map-img">
        </div>
        <div class="mbox">
            <div class="contacts__content">
                <div class="contacts__left">
                    <div class="contacts__left-head">
                        <h3>Контакти</h3>
                    </div>
                    <div class="contacts__rows">
                        <div class="contacts__phone contacts__row">
                            <a href="tel:+380674001182" class="contacts__content-row">
                                <div class="contacts__row-img">
                                    <div class="contacts__row-img-container">
                                        <svg  width="100%" height="100%">
                                            <use xlink:href="#phone"></use>
                                        </svg>
                                    </div>
                                </div>
                                <span>+38 </span>
                                <span>067 400 11 82</span>
                            </a>
                        </div>

                        <div class="contacts__mail contacts__row">
                            <a href="mailto:hello@avivi.academy" class="contacts__content-row">
                                <div class="contacts__row-img contacts__img-hover">
                                    <div class="contacts__row-img-container">
                                        <svg  width="100%" height="100%">
                                            <use xlink:href="#mail"></use>
                                        </svg>
                                    </div>
                                </div>
                                <p>hello@avivi.academy</p>
                            </a>
                        </div>

                        <div class="contacts__location contacts__row">
                            <div class="contacts__content-row">
                                <div class="contacts__row-img">
                                    <div class="contacts__row-img-container">
                                        <svg  width="100%" height="100%">
                                            <use xlink:href="#pointer"></use>
                                        </svg>
                                        <!--<img src="../images/point.png" alt="">-->
                                    </div>
                                </div>
                                <div>
                                    <p>м. Хмельницький</p>
                                    <p>вул. Подільська, 109</p>
                                </div>
                            </div>
                        </div>
                        <div class="contacts__pop-zone">
                            <a href="#scroll-me" class="btn btn__green--transparent js-sh-map scrollto" >як нас знайти</a>
                        </div>

                    </div>
                </div>
                <div class="contacts__right">
                    <div class="contacts__right-head">
                        <h3>Напишіть Нам</h3>
                    </div>
                    <div class="contacts__right-content">
                        <form action="" id="valid-form">
                            <div class="js-input">
                                <input type="text" placeholder="Прізвище Ім'я" required="required" name="username">
                            </div>
                            <div class="js-input">
                                <input type="text" placeholder="Електронна Пошта" required="required" name="email">
                            </div>
                            <div class="js-input">
                                <input type="text" placeholder="Номер Телефону" required="required" class="tel-mask">
                            </div>
                            <div class="js-input">
                                <input type="text" placeholder="Дата Народження">
                            </div>
                            <p></p>
                            <div class="contacts__right-button contacts__for-course">
                                <button type="submit" class="btn">Зареєструватись </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>