<div class="courses-page">
    <div class="courses-page__hugger">
        <div class="mbox">
            <h2 class="courses__header">Про Курс</h2>
            <div class="courses-page__top">
                <div class="courses-page__image">
                    <img src="../images/manager.jpg" alt="">
                </div>
                <div class="courses-page__text">
                    <div class="courses-page__specialist">
                        <h4>Хто він — IT Project Manager?</h4>
                        <p>Це спеціаліст, який відповідає за успішне управління проектом планування завдань, контроль до його реалізації.</p>
                            <p><b>Основний його обов'язок</b> — реалізувати ідею замовника
                            у вказаний термін і визначений бюджет, використовуючи доступні ресурси.</p>
                    </div>
                    <div>
                        <h4>Підходить, якщо Ви:</h4>

                        <ul>
                            <li><span></span>харизматична особистість з організаторськими
                                та лідерськими якостями;</li>
                            <li><span></span>маєте досвід роботи з людьми, вміння домовлятися
                                і переконувати;</li>
                            <li><span></span>любите організовувати процеси навколо. </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="courses-page__bot">

                <div class="courses-page__text">
                    <div class="courses-page__specialist courses-page__specialist-bot">
                        <h4>Для кого буде корисний курс:</h4>
                        <ul>
                            <li><span></span>менеджерів, які бажають підвищити свій професійний рівень;</li>
                            <li><span></span>для тих, хто вже працює в IT (тімліди, розробники, дизайнери, HR, тестувальники та ін.) для отримання нових знань або зміни роду діяльності;</li>
                            <li><span></span>для студентів, які хочуть почати кар’єру менеджера;</li>
                            <li><span></span>для власників бізнесів, які хочуть покращити ведення власної справи або перейти в ІТ;</li>
                            <li><span></span>для управлінців будь-якої сфери та всіх, хто бажає опанувати IT Project Management.</li>
                        </ul>
                    </div>
                    <div class="courses-page__after-end">
                        <p>По закінченню курсу Ви дізнаєтесь про процеси роботи
                            в ІТ-компаніях та менеджменту як його складової, на практиці освоїте основні інструменти роботи проектного менеджера</p>
                    </div>
                </div>
                <div class="courses-page__image courses-page__image-bot">
                    <img src="../images/manager2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="mentors">
        <div class="mbox">
            <div class="mentors__content">
                <h2>Ментори</h2>
                <div class="mentors__people">
                    <div class="mentors__person">
                        <div class="mentors__img">
                            <img src="../images/katya.jpg" alt="">
                        </div>
                        <div class="mentors__about">
                            <div class="mentors__socials">
                                <h4>Катерина <br> Стесенко  </h4>
                                <div class="mentors__icons">
                                    <div class="mentors__icons-place">
                                        <a href="#" >
                                            <svg  width="18px" height="18px">
                                                <use xlink:href="#face"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="mentors__icons-place">
                                        <a href="#">
                                            <svg  width="18px" height="18px">
                                                <use xlink:href="#linked"></use>
                                             </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <p>Керівник проекту <a href="#">Avivi Academy</a></p>
                            <ul>
                                <li><strong>20 рокiв </strong> в сферi навчання
                                    та рекрутерства;</li>
                                <li><strong>100 тис. студентiв</strong> випускникiв;</li>
                                <li><strong>120</strong> успiшно проведених курсiв.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="mentors__person">
                        <div class="mentors__img">
                            <img src="../images/alex.jpg" alt="">
                        </div>
                        <div class="mentors__about">
                            <div class="mentors__socials">
                                <h4>Олексій <br> Лунков  </h4>
                                <div class="mentors__icons">
                                    <div class="mentors__icons-place">
                                        <a href="#" >
                                            <svg  width="18px" height="18px">
                                                <use xlink:href="#face"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="mentors__icons-place">
                                        <a href="#">
                                            <svg  width="18px" height="18px">
                                                <use xlink:href="#linked"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <p>Project Manager в <a href="#">Atwix.com</a></p>
                            <ul>
                                <li>Співавтор та викладач курсу<b>&nbsp; IT Project Manager</b> у IT Академії
                                    від stfalcon.com</span></li>
                                <li>У минулому <strong>International Account Manager</strong>  у команді RexSoft.</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="program">
        <div class="mbox">
            <div class="program__content">
                <h2>Програма Курсу</h2>
                <div class="program__get-program">
                    <p>Вкажіть вашу електронну пошту, щоб отримати лист з детальною програмою та інформацією про курс  </p><a href="#">отримати на e-mail</a>
                </div>

                <ul>
                    <li>Введення в Project Management</li>
                    <li>Управління проектами</li>
                    <li>Критерії успішності проекту</li>
                    <li>Етапи проектів</li>
                    <li>Stakeholder Management</li>
                    <li>Знайомство з технологіями та мовами програмування</li>
                    <li>Методології управління проектами. Вибір методології</li>
                    <li>Scrum</li>
                    <li>Управління декількома проектами одночасно</li>
                    <li>Делегування і розділена відповідальність</li>
                </ul>

            </div>
        </div>
    </div>

</div>