<!-- HEADER -->
<header>
    <div class="courses-page">
        <div class="hugger">
            <div class="green-zone__header">
                <div class="green-zone__header-left">
                    <div class="green-zone__logo">
                        <a href="#"><img src="../images/logo.png" alt=""></a>
                    </div>
                    <div class="green-zone__cross">
                        <svg width="20" height="2">
                            <rect width="20" height="2" style="fill:rgb(255,255,255);" />
                        </svg>
                        <svg width="20" height="2">
                            <rect width="20" height="2" style="fill:rgb(255,255,255);" />
                        </svg>
                        <svg width="20" height="2">
                            <rect width="20" height="2" style="fill:rgb(255,255,255);" />
                        </svg>
                    </div>
                    <div class="green-zone__menu">
                        <ul>
                            <li><a href="#" data-pos="1">Курси</a></li>
                            <li><a href="#" data-pos="2">Івенти</a></li>
                            <li><a href="#" data-pos="3">Блог</a></li>
                        </ul>
                        <div class="green-zone__hoverer">
                            <div class="green-zone__hoverer-inn"></div>
                        </div>
                        <div class="green-zone__split"></div>
                        <div class="green-zone__header-right">
                            <div class="green-zone__phone">
                                <a href="tel:+380674001182">
                                    <img src="../images/phone.png" alt="">
                                    <span>+38 &nbsp; </span>
                                    <span>067 400 11 82</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course-slider">
                <div class="course-slide">
                    <div class="green-zone">
                        <img src="../images/course-top.jpg" alt="" data-object-fit>
                        <div class="green-zone__content">
                            <img src="../images/course-bot.jpg" alt="" data-object-fit>

                            <div class="green-zone__chapter">
                                <h1>Project Management</h1>
                                <p><img src="../images/calendar-pic.png" alt=""> Старт: 06 березня 2018</p>

                                <div class="green-zone__buttons">
                                    <div class="green-zone__button-detais">
                                        <a href="#" class="transparent-btn">Детальніше</a>
                                    </div>
                                    <div class="green-zone__button-reg">
                                        <a href="#registration" data-fancybox class="btn">Зареєструватись</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-slide">
                    <div class="green-zone">
                        <img src="../images/course-top.jpg" alt="" data-object-fit>
                        <div class="green-zone__content">
                            <img src="../images/course-bot.jpg" alt="" data-object-fit>

                            <div class="green-zone__chapter">
                                <h1>Project Management</h1>
                                <p><img src="../images/calendar-pic.png" alt=""> Старт: 06 березня 2018</p>

                                <div class="green-zone__buttons">
                                    <div class="green-zone__button-detais">
                                        <a href="#" class="transparent-btn">Детальніше</a>
                                    </div>
                                    <div class="green-zone__button-reg">
                                        <a href="#registration" data-fancybox class="btn">Зареєструватись</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-slide">
                    <div class="green-zone">
                        <img src="../images/course-top.jpg" alt="" data-object-fit>
                        <div class="green-zone__content">
                            <img src="../images/course-bot.jpg" alt="" data-object-fit>

                            <div class="green-zone__chapter">
                                <h1>Project Management</h1>
                                <p><img src="../images/calendar-pic.png" alt=""> Старт: 06 березня 2018</p>

                                <div class="green-zone__buttons">
                                    <div class="green-zone__button-detais">
                                        <a href="#" class="transparent-btn">Детальніше</a>
                                    </div>
                                    <div class="green-zone__button-reg">
                                        <a href="#registration" data-fancybox class="btn">Зареєструватись</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-slide">
                    <div class="green-zone">
                        <img src="../images/course-top.jpg" alt="" data-object-fit>
                        <div class="green-zone__content">
                            <img src="../images/course-bot.jpg" alt="" data-object-fit>

                            <div class="green-zone__chapter">
                                <h1>Project Management</h1>
                                <p><img src="../images/calendar-pic.png" alt=""> Старт: 06 березня 2018</p>

                                <div class="green-zone__buttons">
                                    <div class="green-zone__button-detais">
                                        <a href="#" class="transparent-btn">Детальніше</a>
                                    </div>
                                    <div class="green-zone__button-reg">
                                        <a href="#registration" data-fancybox class="btn">Зареєструватись</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-slide">
                    <div class="green-zone">
                        <img src="../images/course-top.jpg" alt="" data-object-fit>
                        <div class="green-zone__content">
                            <img src="../images/course-bot.jpg" alt="" data-object-fit>

                            <div class="green-zone__chapter">
                                <h1>Project Management</h1>
                                <p><img src="../images/calendar-pic.png" alt=""> Старт: 06 березня 2018</p>

                                <div class="green-zone__buttons">
                                    <div class="green-zone__button-detais">
                                        <a href="#" class="transparent-btn">Детальніше</a>
                                    </div>
                                    <div class="green-zone__button-reg">
                                        <a href="#registration" data-fancybox class="btn">Зареєструватись</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="course-slide">
                    <div class="green-zone">
                        <img src="../images/course-top.jpg" alt="" data-object-fit>
                        <div class="green-zone__content">
                            <img src="../images/course-bot.jpg" alt="" data-object-fit>

                            <div class="green-zone__chapter">
                                <h1>Project Management</h1>
                                <p><img src="../images/calendar-pic.png" alt=""> Старт: 06 березня 2018</p>

                                <div class="green-zone__buttons">
                                    <div class="green-zone__button-detais">
                                        <a href="#" class="transparent-btn">Детальніше</a>
                                    </div>
                                    <div class="green-zone__button-reg">
                                        <a href="#registration" data-fancybox class="btn">Зареєструватись</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="white-string">
                <div class="mbox">
                    <div class="white-string__sections">
                        <div class="white-string__section">
                            <span class="white-string__title">Ціна</span>
                            <p>2600 грн/міс</p>
                            <p>4680 грн/курс <br><span class="white-string__under">(зі знижкою 10%)</span></p>
                            <span class="white-string__number">01</span>

                        </div>
                        <div class="white-string__section">
                            <span class="white-string__title">Розклад</span>
                            <p>вівторок, четвер <br> 18.30-20.30</p>

                            <span class="white-string__number">02</span>
                        </div>
                        <div class="white-string__section">
                            <span class="white-string__title">Тривалість</span>
                            <p>8 тижнів</p>
                            <span class="white-string__number">03</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>
<!-- /HEADER -->

