<div class="course-list">
    <div class="mbox">
        <div class="course-list__content">
            <div class="course-list__box">
                <div class="course-list__img">
                    <img src="../images/list-1.jpg" alt="">
                    <p>Проводиться набір</p>
                </div>
                <div class="course-list__text">
                    <div class="course-list__date">
                        <p>25</p>
                        <p>НОЯБРЯ</p>
                        <p>2017</p>
                    </div>
                    <div class="course-list__time">
                        <div class="course-list__line">
                            <p>Контекстна реклама AdWords</p>
                        </div>
                        <div class="course-list__line">
                            <div class="course-list__line-col">
                                <p>Ціна</p>
                                <span>2600 грн/міс</span>
                            </div>
                            <div class="course-list__line-col">
                                <p>Тривалість</p>
                                <span>8 тижнів</span>
                            </div>
                            <div class="course-list__line-col">
                                <a href="#">
                                    <svg  width="18px" height="18px">
                                        <use xlink:href="#face"></use>
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg  width="18px" height="18px">
                                        <use xlink:href="#linked"></use>
                                    </svg>
                                </a>
                            </div>

                        </div>
                    </div>
                    <label class="box-href"><a href="#"></a></label>
                    <div class="course-list__about">
                        <p><b>Інтернет маркетолог</b> — фахівець з просування продукту в інтернеті. <b>Його завдання</b> — проаналізувати ринок, підготувати стратегію просування
                            і реалізувати її.</p>
                    </div>
                </div>
            </div>

            <div class="course-list__box">
                <div class="course-list__img">
                    <a href="#"><img src="../images/list-1.jpg" alt=""></a>
                    <p>Проводиться набір</p>
                </div>
                <div class="course-list__text">
                    <div class="course-list__date">
                        <p>25</p>
                        <p>НОЯБРЯ</p>
                        <p>2017</p>
                    </div>
                    <div class="course-list__time">
                        <div class="course-list__line">
                            <p>Контекстна реклама AdWords</p>
                        </div>
                        <div class="course-list__line">
                            <div class="course-list__line-col">
                                <p>Ціна</p>
                                <span>2600 грн/міс</span>
                            </div>
                            <div class="course-list__line-col">
                                <p>Тривалість</p>
                                <span>8 тижнів</span>
                            </div>
                            <div class="course-list__line-col">
                                <a href="#">
                                    <svg  width="18px" height="18px">
                                        <use xlink:href="#face"></use>
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg  width="18px" height="18px">
                                        <use xlink:href="#linked"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <label class="box-href"><a href="#"></a></label>
                    <div class="course-list__about">
                        <p><b>Front end розробник</b> створює все те, що ми бачимо, відкривши будь-який сайт. Він пише HTML-код і стилізує його з допомогою CSS, щоб будь-який користувач сайту зміг побачити <b> привабливий інтерфейс.</b></p>
                    </div>
                </div>
            </div>

            <div class="course-list__boxes">
                <div class="course-list__box--small">
                    <div class="course-list__img">
                        <a href="#"><img src="../images/list-1.jpg" alt=""></a>
                        <p>Набір завершено</p>
                    </div>
                    <div class="course-list__text course-list__text--small">
                        <div class="course-list__date--small">
                            <span>25</span>
                            <span>
                                <p>НОЯБРЯ</p>
                                <p>2017</p>
                            </span>

                        </div>
                        <div class="course-list__time course-list__time--small">
                            <div class="course-list__line course-list__line--small">
                                <p>Тестувальник ПЗ</p>
                            </div>
                        </div>
                        <div class="course-list__about course-list__about--small">
                            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати
                                и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
                                для текстов на латинице с начала XVI века.</p>
                        </div>
                    </div>
                    <label class="box-href"><a href="#"></a></label>
                </div>

                <div class="course-list__box--small">
                    <div class="course-list__img">
                        <a href="#"><img src="../images/list-1.jpg" alt=""></a>
                        <p>Набір завершено</p>
                    </div>
                    <div class="course-list__text course-list__text--small">
                        <div class="course-list__date--small">
                            <span>03</span>
                            <span>
                                <p>НОЯБРЯ</p>
                                <p>2017</p>
                            </span>

                        </div>
                        <div class="course-list__time course-list__time--small">
                            <div class="course-list__line course-list__line--small">
                                <p>Тестувальник ПЗ</p>
                            </div>
                        </div>
                        <div class="course-list__about course-list__about--small">
                            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати
                                и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
                                для текстов на латинице с начала XVI века.</p>
                        </div>
                    </div>
                    <label class="box-href"><a href="#"></a></label>
                </div>
            </div>
        </div>
    </div>
</div>

