<div class="course-list">
    <div class="mbox">
        <div class="course-list__content">
            <div class="course-list__box">
                <div class="course-list__img">
                    <img src="../images/list-1.jpg" alt="">
                </div>
                <div class="course-list__text">
                    <div class="course-list__date">
                        <p>25</p>
                        <p>НОЯБРЯ</p>
                        <p>2017</p>
                    </div>
                    <div class="course-list__time">
                        <div class="course-list__line">
                            <p>Контекстна реклама AdWords</p>
                        </div>
                        <div class="course-list__line">
                            <div class="course-list__line-col">
                                <p>Ціна</p>
                                <span>2600 грн/міс</span>
                            </div>
                            <div class="course-list__line-col">
                                <p>Тривалість</p>
                                <span>8 тижнів</span>
                            </div>
                            <div class="course-list__line-col">
                                <a href="#">
                                    <svg  width="18px" height="18px">
                                        <use xlink:href="#face"></use>
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg  width="18px" height="18px">
                                        <use xlink:href="#linked"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="course-list__about"></div>
                </div>
            </div>
        </div>
    </div>

</div>