

<div class="quests-zone">
    <div class="mbox">
        <div class="quests-zone__content">
            <div class="quests-zone__header">
                <h2><span>Курси</span> <span>&</span> <span>Івенти</span></h2>
            </div>
            <div class="quests-zone__chose">

                <div class="quests-zone__radios">
                    <label data-radio="1">
                        <input type="radio" name="www" checked>
                        <i>
                            <span>Курс</span>
                        </i>

                    </label>

                    <label data-radio="2">
                        <input type="radio" name="www">
                        <i>
                            <span>Івент</span>
                        </i>

                    </label>
                </div>

                <div class="quests-zone__right js-cource show-ivent">
                    <div class="quests-zone__right-square quests-zone__right-top">
                        <img src="../images/q-top-img.png" alt="">
                        <span>Контекстна реклама <br> AdWords </span>
                        <div class="quests-zone__about">
                            <span>Інтернет маркетолог — фахівець з просування<br>продукту (послуги, бренду) в інтернеті. </span>
                            <div class="quests-zone__button">
                                <a href="#">Більше</a>
                            </div>
                        </div>
                    </div>
                    <div class="quests-zone__right-square quests-zone__right-bot">
                        <img src="../images/q-bot-img.png" alt="">
                        <span>Програмування <br> Front end </span>
                        <div class="quests-zone__about">
                            <span>Курс "Програмування Front end" орієнтований<br>на вивчення web-програмування з нуля. </span>
                            <div class="quests-zone__button">
                                <a href="#">Більше</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="quests-zone__right js-ivents">
                    <div class="quests-zone__right-square quests-zone__right-top">
                        <img src="../images/q-top-img.png" alt="">
                        <span>Контекстна реклама <br> AdWords </span>
                        <div class="quests-zone__about">
                            <span>Інтернет маркетолог — фахівець з просування<br>продукту (послуги, бренду) в інтернеті. </span>
                            <div class="quests-zone__button">
                                <a href="#">Більше</a>
                            </div>
                        </div>
                    </div>
                    <div class="quests-zone__right-square quests-zone__right-bot">
                        <img src="../images/q-bot-img.png" alt="">
                        <span>Програмування <br> Front end </span>
                        <div class="quests-zone__about">
                            <span>Курс "Програмування Front end" орієнтований<br>на вивчення web-програмування з нуля. </span>
                            <div class="quests-zone__button">
                                <a href="#">Більше</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</div>

<div class="about">
    <div class="mbox">
        <div class="about__header">
            <h2>Про Нас</h2>
        </div>
        <div class="about__content">
            <div class="about__left about__part">
                <!--<img src="../images/hands.png" alt="">-->
            </div>
            <div class="about__right about__part">
                <div>
                    <p><b>Івенти</b></p>
                    <p><span>Ми організовуємо лекції, конференції та майстер-класи від ІТ профі по програмуванню, менеджменту, веб-дизайну.<br>
                    <b>Наші зустрічі</b> - це середовище розвитку, ідей,  спілкування з однодумцями та порад від  практикуючих фахівців</span></p>
                </div>
                <div>
                    <p><b>Курси</b></p>
                    <p><span>Навчальні курси програмування, менеджменту, онлайн-маркетингу для початківців та вдосконалення навичок. Розпочинаємо навчання у 2018 році.</span></p>
                     <div class="about__watch">слідкуйте за оновленнями</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cources">
    <div class="mbox">
        <div class="cources__content">
            <div class="cources__header">
                <h2>Про Курси</h2>
            </div>
            <div class="cources__colls">
                <div class="cources__col">
                    <div class="cources__img">
                        <img src="../images/img-1.png" alt="">
                    </div>
                    <span>Пратика / Сертифікат</span>
                    <p><b>Практична робота</b> над власним проектом та сертифікат
                        по успішному завершенню курсу</p>
                </div>
                <div class="cources__col">
                    <div class="cources__img">
                        <img src="../images/img-2.png" alt="">
                    </div>
                    <span>ІТ-Iвенти</span>
                    <p><b>Додаткові безкоштовні лекції</b>
                        та майстер-класи адаптовані <br>
                        під рівень групи</p>
                </div>
                <div class="cources__col">
                    <div class="cources__img">
                        <img src="../images/img-3.png" alt="">
                    </div>
                    <span>Відео Занять</span>
                    <p><b>Вільний доступ</b> студентам
                        до відеоматеріалів <br>
                        курсу</p>
                </div>
                <div class="cources__col">
                    <div class="cources__img">
                        <img src="../images/img-4.png" alt="">
                    </div>
                    <span>Резюме та Кар’єра</span>
                    <p><b>Консультації</b> з формування
                        резюме та побудови <br>
                        кар’єри</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="friends">
    <div class="mbox">
        <div class="friends__content">
            <div class="friends__header">
                <h2>Друзі та Партнери</h2>
            </div>

            <div class="friends__slider">
                <div class="friends__slide">
                    <div>
                        <a href="#">
                            <img src="../images/friend-1.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="friends__slide">
                    <div>
                        <a href="#">
                            <img src="../images/friend-2.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="friends__slide">
                    <div>
                        <a href="#">
                            <img src="../images/friend-3.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="friends__slide">
                    <div>
                        <a href="#">
                            <img src="../images/friend-2.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="friends__slide">
                    <div>
                        <a href="#">
                            <img src="../images/friend-3.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="friends__slide">
                    <div>
                        <a href="#">
                            <img src="../images/friend-1.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="contacts">
    <div class="mbox">
        <div class="contacts__content">
            <div class="contacts__left">
                <div class="contacts__left-head">
                    <h2>Контакти</h2>
                </div>
                <div class="contacts__rows">
                    <div class="contacts__location contacts__row">
                        <div class="contacts__content-row">
                            <div class="contacts__row-img">
                                <img src="../images/point.png" alt="">
                            </div>
                            <div>
                                <p>м. Хмельницький</p>
                                <p>вул. Подільська, 109</p>
                            </div>
                        </div>
                    </div>
                    <div class="contacts__phone contacts__row">
                        <a href="tel: +380674001182" class="contacts__content-row">
                            <div class="contacts__row-img">
                                <img src="../images/tube.png" alt="">
                            </div>
                            <span>+38 </span>
                            <span>067 400 11 82</span>
                        </a>
                    </div>
                    <div class="contacts__mail contacts__row">
                        <a href="mailto:hello@avivi.academy" class="contacts__content-row">
                            <div class="contacts__row-img contacts__img-hover">
                                <img src="../images/mail.png" alt="">
                            </div>
                            <p>hello@avivi.academy</p>
                        </a>

                    </div>
                </div>
            </div>
            <div class="contacts__right">
                <div class="contacts__right-head">
                    <h2>Напишіть Нам</h2>
                </div>
                <div class="contacts__right-content">
                    <form action="">
                        <input type="text" placeholder="Прізвище Ім'я">
                        <input type="text" placeholder="Електронна Пошта">
                        <p></p>
                        <textarea name="" id="" cols="10" rows="10" placeholder="Повідомлення"></textarea>
                        <div class="contacts__right-button">
                            <input type="submit" value="Написати">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



