<div class="event">
    <div class="mbox">
        <h2>Майбутнi Iвенти</h2>
        <div class="event-wrap">
            <div class="event__block event__block--big">
                <div class="event__img">
                    <img src="images/event1.jpg" alt="event">
                </div>
                <div class="event__text">
                    <div class="event-date">
                        <div class="event-date__date">25</div>
                        <div class="event-date__may">
                            <div class="event-date__month">Ноября</div>
                            <div class="event-date__year">2017</div>
                        </div>
                    </div>
                    <div class="event__title">JavaScript Meetup</div>
                    <p>Преглашаем вас на наш следующий ивент, посвященный JS.
                        Перед вами выступят ведущие специалисты отрасли
                        и прочитают вам Евгения Онегина и Энеиду наизусть.</p>
                    <div class="event__social-links">
                        <a href="#">
                            <svg width="9px" height="18px">
                                <use xlink:href="#fb"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg  width="17px" height="16px">
                                <use xlink:href="#in"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="event__block">
                <div class="event__img">
                    <img src="images/event2.jpg" alt="event">
                </div>
                <div class="event__text">
                    <div class="event-date">
                        <div class="event-date__date">25</div>
                        <div class="event-date__may">
                            <div class="event-date__month">Ноября</div>
                            <div class="event-date__year">2017</div>
                        </div>
                    </div>
                    <div class="event__title">Mobile development with React Native - one year in production</div>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати
                        и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
                        для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров
                        и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                    </p>
                    <div class="event__social-links">
                        <a href="#">
                            <svg width="9px" height="18px">
                                <use xlink:href="#fb"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg  width="17px" height="16px">
                                <use xlink:href="#in"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="event__block">
                <div class="event__img">
                    <img src="images/event3.jpg" alt="event">
                </div>
                <div class="event__text">
                    <div class="event-date">
                        <div class="event-date__date">25</div>
                        <div class="event-date__may">
                            <div class="event-date__month">Ноября</div>
                            <div class="event-date__year">2017</div>
                        </div>
                    </div>
                    <div class="event__title">Mobile development with React Native - one year in production</div>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати
                        и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
                        для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров
                        и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                    </p>
                    <div class="event__social-links">
                        <a href="#">
                            <svg width="9px" height="18px">
                                <use xlink:href="#fb"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg  width="17px" height="16px">
                                <use xlink:href="#in"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>