<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="footer__main">
        <div class="footer__head">
            <div class="mbox">
                <div class="footer__head-content">
                    <div class="footer__coll-head">
                        <p>Copyright © 2017</p>
                        <p>All Rights Reserved</p>
                    </div>
                    <div class="footer__coll">
                        <p><a href="#">Наші Курси</a></p>
                    </div>
                    <div class="footer__coll">
                        <p><a href="#">Наші Івенти</a></p>
                    </div>
                    <div class="footer__coll">
                        <p><a href="#">Блог</a></p>
                    </div>
                    <div class="footer__coll">
                        <p><a href="#">Ми в соц.мережах</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__pod">
            <div class="mbox">
                <div class="footer__pod-content">
                    <div class="footer__coll-head">
                        <a href="#"><img src="../images/logo.png" alt=""></a>
                    </div>
                    <div class="footer__coll">
                        <a href="#">Тестування ПЗ</a>
                        <a href="#">Програмування Front end</a>
                        <a href="#">Контекстна реклама AdWords</a>
                    </div>
                    <div class="footer__coll">
                        <a href="#">IT Project Management Meetup</a>
                        <a href="#">Конференція <br>
                            Як розвивати стартапи?
                        </a>
                    </div>
                    <div class="footer__coll">
                        <a href="#">Landing page на Битриксе:
                            все плюсы известной CMS
                        </a>
                        <a href="#">Преимущества автоматизации бизнес-процессов</a>
                    </div>
                    <div class="footer__coll footer__coll-last">
                        <a href="#">
                            <svg width="20px" height="20px">
                                <use xlink:href="#face"></use>
                            </svg>
                        </a>

                        <a href="#" >
                            <svg  width="30px" height="30px">
                                <use xlink:href="#ic-instagram"></use>
                            </svg>
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer__mobile">
        <div class="mbox">
            <div class="footer__mobile-head">
                <a href="#"><img src="../images/logo.png" alt=""></a>
                <div class="footer__coll-last footer__mobile-right">
                    <a href="#">
                        <svg width="20px" height="20px">
                            <use xlink:href="#face"></use>
                        </svg>
                    </a>

                    <a href="#" >
                        <svg  width="30px" height="30px">
                            <use xlink:href="#ic-instagram"></use>
                        </svg>
                    </a>


                </div>
            </div>

            <div class="footer__mobile-wrap">
                <div class="footer__mobile-bot">
                    <div class="footer__mobile-bot-col">
                        <p><a href="#">Наші курси</a></p>
                        <a href="#">Тестування ПЗ</a>
                        <a href="#">Програмування Front end</a>
                        <a href="#">Контекстна реклама AdWords</a>
                    </div>
                    <div class="footer__mobile-bot-col">
                        <p><a href="#">Наші івенти</a></p>
                        <a href="#">IT Project Management Meetup</a>
                        <a href="#">Конференція <br>
                            Як розвивати стартапи?
                        </a>

                    </div>
                </div>
                <div class="footer__mobile-copy">
                    <span>Copyright © 2017
                    All Rights Reserved</span>
                </div>

            </div>
        </div>
    </div>


</footer>
<!-- FOOTER -->
<script>
    var revision = 13789;    // версия спрайта (текущая дата)
</script>
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/formstyler.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/develop.css">
<link rel="stylesheet" href="css/develop-2.css">
<link rel="stylesheet" href="css/develop-3.css">
<link rel="stylesheet" href="css/media.css">
<!-- SCRIPTS -->
<script        src="https://code.jquery.com/jquery-3.1.1.min.js"        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="        crossorigin="anonymous"></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/object-fit-cover.js" ></script>
<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="js/develop.js" ></script>
<script type="text/javascript" src="js/develop-2.js" ></script>
<script type="text/javascript" src="js/develop-3.js" ></script>

<!-- endbuild -->

<!-- /SCRIPTS -->
