<div class="hidden-block">
    <div class="modal modal__program" id="program">
        <h4>Отримати Програму</h4>
        <div class="modal__content">
            <p>Вкажіть вашу електронну пошту, щоб отримати лист з детальною програмою та інформацією про курс</p>
            <form>
                <input type="text" placeholder="Електронна Пошта">
                <button class="btn btn__green">Отримати на E-mail</button>
            </form>
        </div>
    </div>
    <div class="modal modal__registration" id="registration">
        <h4>Зареєструватись На Курс</h4>
        <div class="modal__content--reg">
            <p>Для реєстрації на курс <b>Project Management</b>, заповніть поля</p>
            <form class="modal__inputs">
                <input type="text" placeholder="Iм'я Прізвище">
                <input type="email" placeholder="Електронна Пошта">
                <input type="tel" placeholder="Номер Телефону">
                <input type="datetime" placeholder="Дата Народження">
                <button class="btn btn__green">Відправити</button>
            </form>
        </div>
    </div>
</div>