<div class="event event-program">
    <div class="mbox">
        <h2>Програма</h2>
        <div class="event__row">
            <div class="event-program__text">
                <div class="event-program__title"><span class="event-program__number">01</span><b>Mobile development</b> with React Native - one year in production</div>
                <p>Доповідь про створення нашого мобільного додатку Debitoor під iOS
                    на React Native з точки зору JavaScript розробника без навичок ObjectiveC/Swift.
                    Розкажу про процес розробки, автоматичного і ручного тестування,
                    релізи, такі особливості мобільної розробки як offline first,
                    інтеграція з Spotlight search, робота з камерою, InAppPurchases
                    та інші в середовищі React Native.
                </p>
            </div>
            <div class="event-card">
                <div class="event-card__photo">
                    <img src="images/sp1.jpg" alt="photo">
                </div>
                <div class="event-card__text">
                    <div class="event__social-links">
                        <a href="#">
                            <svg width="9px" height="18px">
                                <use xlink:href="#fb"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg  width="17px" height="16px">
                                <use xlink:href="#in"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="event-card__name">Андрій Шумада</div>
                    <div class="event-card__info">Sr. Software Developer at <a href="#">Debitoor/Ciklum</a></div>
                    <p><b>Андрій має дві пристрасті:</b> швидкісну Honda та мультифункціональну JS.</p>
                    <p><b>Вже більше 10 років у розробці.</b> Пишається створенням tank.ly.
                        За останні три роки підготував
                        <b>25+ доповідей</b>, які відвідало
                        більше півтори тисячі розробників.</p>
                </div>
            </div>
        </div>
        <div class="event__row">
                <div class="event-card">
                    <div class="event-card__photo">
                        <img src="images/sp2.jpg" alt="photo">
                    </div>
                    <div class="event-card__text">
                        <div class="event__social-links">
                        <a href="#">
                            <svg width="9px" height="18px">
                                <use xlink:href="#fb"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg  width="17px" height="16px">
                                <use xlink:href="#in"></use>
                            </svg>
                        </a>
                    </div>
                        <div class="event-card__name">Віктор Локотков</div>
                        <div class="event-card__info">Full Stack Developer <a href="#">Debitoor/Ciklum</a></div>
                        <ul>
                            <li>Technical Researcher;</li>
                            <li>Focusing on JavaScript;</li>
                            <li>Working with Node.js, Python, ReactNative.</li>
                        </ul>
                    </div>
                </div>
            <div class="event-program__text">
                <div class="event-program__title"><span class="event-program__number">02</span><b>Lifestory:</b> хотів вивчити нове, а в результаті створив повноцінний проект</div>
                <p>Доповідь про створення нашого мобільного додатку Debitoor під iOS
                    на React Native з точки зору JavaScript розробника без навичок ObjectiveC/Swift.
                    Розкажу про процес розробки, автоматичного і ручного тестування,
                    релізи, такі особливості мобільної розробки як offline first,
                    інтеграція з Spotlight search, робота з камерою, InAppPurchases
                    та інші в середовищі React Native.
                </p>
            </div>
        </div>
    </div>
</div>